main,header,section,aside,footer{
  display: block;
  margin: 0;
  padding: 10px;
  border: 1px solid silver;
  color: #fffaff;
}
@media (min-width: 640px){
  .flex-container{
    display:flex;
  }
}

main {
  background: grey;
}

.header{
  background: brown;
}

.hero{
  background:orange;
}
.content{
  flex:1;
  background:

}

.sidebar{
  flex:
}

.flex-container{


}
