main,header,section,aside,footer{
  display: block;
  margin: 0;
  padding: 10px;
  border: 1px solid silver;
  color: #fffaff;
}


main {
  background: grey;
}

.header{
  background: brown;
}

.hero{
  background:orange;
}

@media (min-width: 640px){
  .flex-container{
    display:flex;
  }
}
.content{
  flex:1;
  background:#129a22;

}

.sidebar{
  flex:0 1 320px;
  border:1px solid #000000;
  background:#673ab7;
}

.footer{
  grid-area:footer;
  background-color: black;
}

.flex-container{


}
