


header{
  margin:0 auto;
  border: 1px solid;
  background-color: green;

}

section{
  margin: 0 auto;
  border:1px solid;
  background-color:purple;

}

aside{
  margin: 0 auto;
  border:1px solid;
  background-color: blue;
}
 footer{
   margin:0 auto;
   border:1px solid;
   background-color: lightgreen;
 }

@media (min-width: 640px){
  .flex-container{
    display:flex;
  }
}

.hero{
  background:orange;
}
.content{
  flex:1;
  background:

}

.sidebar{
  flex:
}

.flex-cony
