body{
  background-color:#A9A9A9;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 5px;
  background-color:#F0FFFF;
}

li:hover{
  color: rgb(87, 7, 101) !important;
 box-shadow: 0 4px 16px rgb(87, 7, 101);
 transition: all 2.0s ease;

}


a {
  color: black;
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
}

p{
  text-decoration-color: white;
}

#t1:first-letter{
  color:red;
  font-size:xx-large

}
#texto{
  width: 500px;
  height: 350px;
  border:1px solid;
  background-color: lightgrey;
  margin: 0 auto;
}

#imagen:hover{
  width: 95px;
  height: 95px;
  animation: myAnimation 2s ease infinite alternate forwards;
animation-duration: 3s;
}

@keyframes myAnimation {
  100% {
    transform:  rotate(360deg);


  }

}
