body{

  background-color:#A9A9A9;

}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 5px;
  background-color:#F0FFFF;
}

li:hover{
  color: rgb(87, 7, 101) !important;
 box-shadow: 0 4px 16px rgb(87, 7, 101);
 transition: all 2.0s ease;

}


a {
  color: black;
  text-decoration: none;
}

h1 {
  text-transform: capitalize;
}

p{
  text-decoration-color: white;
}

#caja{
  width: 300px;
  height: 300px;
  background-color: lightgrey;

}
#t1{
  font-family: serif;
}

#t2{
  font-family: sans-serif;
}

#t3{
  font-family: monospace;
}

#t4{
  font-style:italic;
}

#t5{
  font-family: fantasy;
}
#imagen:hover{
  width: 95px;
  height: 95px;
  animation: myAnimation 2s ease infinite alternate forwards;
animation-duration: 3s;
}

@keyframes myAnimation {
  100% {
    transform:  rotate(360deg);


  }

}
